.phrase {
    color: white;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 60px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer p a {
    color: white;
    text-decoration: none;
}