.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 60px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer p a {
    color: white;
    text-decoration: none;
}

img {
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

.phrase {
    color: white;
}

.logout {
    background-color: rgb(244, 119, 30);
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.logout a {
    color: white;
    text-decoration: none;
}

.vente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.vente1 {
    border: 1px solid cornflowerblue;
    width: 400px;
    float: right;
    margin-bottom: 5px;
    border-radius: 10px;
}

.vente2 {
    border: 1px solid cornflowerblue;
    width: 400px;
    float: right;
    border-radius: 10px;
}

.bleu {
    color: blue;
}

.vert {
    color: green;
}

.rouge {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}