<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaBanque</title>
</head>
<app-header></app-header>

<body>
    <div class="container">
        <div class="vente">
            <div class="vente1">
                <em class="bleu">USD 1.00 </em>
                <em class="vert">ACHAT 114.0000 </em>
                <em class="rouge">VENTE 115.0000</em>
            </div>
            <div class="vente2">
                <em class="vert">Limite Achat USD 2,500.00 </em>
                <em class="rouge"> Limite Vente USD 500.00</em>
            </div>
        </div>
        <p style="color:rgb(244, 119, 30); font-size: medium; font-weight: bold; margin-bottom: 50px;">
            MODIFIER CLIENT</p>




        <form id="form2" #form="ngForm" (ngSubmit)="ModifierClient(form)">
            <table>
                <tr>
                    <td class="label">SELECTIONNER UN BENEFICIAIRE</td>
                    <td class="champ">
                        <select name="client" (change)="ShowBene($event)">
                            <option> Sélectionner un bénéficiaire</option>
                            <option *ngFor="let item of bene" value="{{item.numCompte}}">
                                {{item.nomPrenom}}
                            </option>
                        </select>
                    </td>
                </tr>

                <br/>
                <tr>
                    <td class="label">NOM & PRENOM*</td>
                    <td class="champ"><input type="text" name="nom" [(ngModel)]="nomPrenom" required> </td>

                </tr>

                <tr>
                    <td class="label">SURNOM*</td>
                    <td class="champ"><input type="text" name="surnom" [(ngModel)]="nomPrenom" required> </td>

                </tr>

                <tr>
                    <td class="label">NUMERO DE COMPTE*</td>
                    <td class="champ"><input type="text" name="numero" [(ngModel)]="numCompte" required></td>

                </tr>

                <tr>
                    <td class="label">BANQUE*</td>
                    <td class="champ"><input type="text" value="MaBanque" placeholder="MaBanque" name="banque" ngModel readonly></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button [routerLink]="['/transfert']" id="cancel" type="cancel">ANNULER</button>
                        <button id="submit" type="submit">SOUMETTRE</button>
                    </td>

                </tr>
            </table>
        </form>
    </div>


</body>
<app-footer></app-footer>

</html>