.img img
{
    width: 100px;
    height: 100px;
    margin-left: 100px;
} 

.navbar .navbar-expand-lg
{
    background-color: cornflowerblue;
   
}

.footer
{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 60px;
}

.footer p a
{
    color:white;
    text-decoration: none;
   
}



body
{
    background-image: url("../../assets/images/body_image.webp") ;
}

form
{
    border: 1px solid cornflowerblue;
    padding:10px;
    background-color: white;
    width: 20%;
    color: cornflowerblue;
    margin-left: 3%;
    margin-top: 3%;

}

.formTitre
{
    text-align: center;
}

form p a
{
    text-decoration: none;
}

button
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(244, 119, 30);
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.digicert img
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:30%;
    margin-bottom: 0;
}

.info
{
    float:right;
    color: white;
    background-color: cornflowerblue;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 5%;
    right: 5%;
    display: block;
    margin-top: 150px;
    height:300Px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.info .nomprojet
{
    background-color: #9AFE2E;
    color: blue;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 320px;
    height:50px;
}

.info .nomprojet img
{
    width: 50px;
    height: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #9AFE2E;
}


.bienvenue
{
   
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   
}

.online
{
   
   text-align: center;
}

.banniere
{
    background-color: #9AFE2E;
    height: 60px;
    margin-top: 50px;
}

.banniere2
{
    background-color: white;
    height: 60px;
}

.langue
{
    float: right;
}